@import '@/styles/variables';

// general
.container {
  margin: 0 6rem;

  @media screen and (max-width: $breakpoint-tablet-max) {
    margin: 0;
  }
}

.title {
  font-weight: 700;
  font-size: 2rem;

  @media screen and (max-width: $breakpoint-mobile-max) {
    font-size: 1.6rem; 
    line-height: normal !important;
    margin: 0 !important;
  }
}

.subtitle {
  font-weight: 500;
  font-size: 1rem;
  line-height: 27px;
  color: $color-neutral-medium;

  @media screen and (max-width: $breakpoint-mobile-max) {
    text-align: center;
  }
}


.hero-wrapper {
  .hero-container {
    height: 100%;
    background: $color-primary-default;
    padding: 3rem 3rem 7.8rem 3rem;
    margin-bottom: 6rem;
    display: flex;
    border-radius: 24px;
    position: relative;
    overflow: hidden;

    .hero-column-left {
      width: 45%;
      z-index: 9;
  
      @media screen and (max-width: $breakpoint-mobile-max) {
        width: 70%;
      }

      .hero-title {
        font-size: 4rem;
        font-weight: 800;
        line-height: 4rem;
        color: $color-neutral-default;

        @media screen and (max-width: $breakpoint-mobile-max) {
          font-size: 2.5rem;
          line-height: normal;
        }
        @media screen and (max-width: 425px) {
          font-size: 1.5rem;
          line-height: normal;
        }
        
        @media screen and (min-width: $breakpoint-mobile-max) and (max-width: $breakpoint-tablet-max) {
          font-size: 3rem;
        }
      }

      .species-customers-container {
        display: flex;
        margin: 1.5rem 0 2rem;
  
        .species-values {
          border-right: 1px solid $color-neutral-default;
          padding-right: 3rem;
          margin-right: 3rem;

          @media screen and (max-width: $breakpoint-mobile-max) {
            padding-right: 1rem;
            margin-right: 1rem;
          }
        }
  
        .species-values, .customers-values {
          display: flex;
          flex-direction: column;
          gap: .5rem;
          font-weight: 500;
          font-size: 2rem;

          @media screen and (max-width: $breakpoint-mobile-max) {
            font-size: 1rem;
          }
  
          .species__text, .customers__text {
            font-size: 1rem;
          }
        }
      }

      .search-home {
        @media screen and (max-width: $breakpoint-mobile-max) {
          .input-search-container {
            height: 50px;        
            
            .search {
              padding-right: 5rem;
              &::-webkit-input-placeholder {
                font-size: .75rem;
              }
            }

            .button-search {
              width: 40px;
              height: 40px;
            }
          }
        }

        @media screen and (min-width: $breakpoint-mobile-max) {
          .input-search-container {
            width: 450px;
          }
        }
      }
    }
    .hero-image {
      position: absolute;
      bottom: 0;
      right: 0;

      svg {
        height: max-content;
      }
      @media screen and (max-width: $breakpoint-mobile-max) {
        width: 65%;
      }
      @media screen and (max-width: 425px) {
        width: 60%;
      }
    }
    @media screen and (max-width: $breakpoint-mobile-max) {
      padding: 1.5rem 1rem;
      margin: 0;
    }

    @media screen and (min-width: $breakpoint-tablet-max) and (max-width: 1440px) {
      margin: 0;
    }
  }
}

.best-selling-plants-wrapper {
  .best-selling-plants-container {
    display: flex;
    gap: 3.75rem;
    margin-bottom: 7rem;

    .first-column {
      width: 256px;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: $breakpoint-mobile-max) {
        width: 100%;
        align-items: center;
      }

      .best-selling-plants__title {
        line-height: 48px;
        margin-bottom: .75rem;
      }
      .best-selling-plants__text {
        margin-bottom: 1.5rem;

      }
      .best-selling-plants__button {
        max-width: 160px;
        height: 50px;
        padding: .75rem 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background: $color-primary-default;
        border: none;
        border-radius: 12px;
        font-weight: 500;
        font-size: 1rem;
        color: $color-primary-dark;

        &:hover {
          opacity: .8;
        }
        &:active {
          background: $color-primary-medium;
          color: $color-neutral-whitef5;
          opacity: 1;

          svg path {
            fill: $color-neutral-whitef5;
          }
        }

        @media screen and (max-width: $breakpoint-mobile-max) {
          scale: .8;
        }
      }
    }
    .home-products__cards {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .product-card {
        width: 300px;
        height: 436px;
        
        .product__image {
          width: 100%;
          height: 363px;
          object-fit: cover;
          border-radius: 12px;
         
          @media screen and (max-width: $breakpoint-mobile-max) {
            height: 150px;
          }
          @media screen and (min-width: $breakpoint-mobile-max) and (max-width: $breakpoint-tablet-max) {
            height: 230px;
          }
        }
        .product-container__price {
          margin-bottom: 0;
          .product-selling-price {
            font-weight: 500;
            font-size: 1rem;
            color: $color-neutral-medium
          }
        }
        @media screen and (max-width: $breakpoint-mobile-max) {
          width: 106px;
          height: 100%;
        }
        @media screen and (min-width: $breakpoint-mobile-max) and (max-width: $breakpoint-tablet-max) {
          width: 180px;
        }
      }
      @media screen and (max-width: $breakpoint-mobile-max) {
        justify-content: space-evenly;
      }
      @media screen and (min-width: $breakpoint-tablet-max) and (max-width: 1440px) {
        width: 70%;
      }
    }
    @media screen and (max-width: $breakpoint-mobile-max) {
      flex-wrap: wrap;
      margin-bottom: 4rem;
    }
    @media screen and (min-width: $breakpoint-tablet-max) and (max-width: 1440px) {
      gap: 2rem;
      margin: 2rem 0 0;
    }
  }
  @media screen and (max-width: $breakpoint-mobile-max) {
    margin-top: 4rem;
  }
} 

.about-us-wrapper {
  margin-bottom: 10.3rem;

  .about-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .about-us__title {
      margin-bottom: .75rem
    }
    
    .about-us-content, .about-us__item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      
      .about-us__item {
        width: 400px;
        flex-direction: column;
        justify-content: center;

        .about-us__item-icon {          
          width: 96px;
          height: 96px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $color-primary-default;
          border-radius: 50%;
        }

        .about-us__item-title {
          font-weight: 700;
          font-size: 1.2rem;
          margin: 1.5rem 0 .75rem;
        }
        .about-us__item-text {
          font-weight: 500;
          font-size: 1rem;
          color: $color-neutral-medium;
          text-align: center;
        }
      }
    }
    .about-us-content {
      width: 100%;
      gap: 2rem .7rem;
      margin-top: 3rem;
    }
  }
  @media screen and (max-width: $breakpoint-mobile-max) {
    margin-bottom: 4rem;
  }
  @media screen and (min-width: $breakpoint-tablet-max) and (max-width: 1440px) {
    margin-bottom: 7rem;
  }
}

.categories-wrapper {
  .categories__header {
    text-align: center;
    margin-bottom: 6rem;

    @media screen and (max-width: $breakpoint-mobile-max) {
      margin-bottom: 4rem;
    }
  }

  .categories-container {
    .categories-content {
      width: 100%;
      height: 841px;
      position: relative;
      background: $color-primary-default;
      padding: 3rem 6rem;

      @media screen and (max-width: $breakpoint-mobile-max) {
        height: 750px;
        padding: 3rem 2rem;
      }

      .categories-cards {
        display: flex;
        justify-content: space-between;
        gap: 6rem;

        .categories-card {
          display: flex;
          flex-direction: column;
          align-items: center;

          .categories__image {
            width: 352px;
            height: 512px;
            border-radius: 12px;

            @media screen and (max-width: $breakpoint-mobile-max) {
              width: 150px;
              height: 230px;
            }
            @media screen and (min-width: $breakpoint-mobile-max) and (max-width: $breakpoint-tablet-max) {
              width: 200px;
              height: 250px;
            }
            @media screen and (min-width: $breakpoint-tablet-max) and (max-width: 1440px) {
              width: 250px;
              height: 300px;
            }
          }
          .categories-card__title {
            font-weight: 700;
            font-size: 1rem;
            margin: .75rem 0;
          }
          .info-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: display .8s ease-in;

            .categories-card__text {
              text-align: center;
              margin-bottom: 1.5rem;

              @media screen and (min-width: $breakpoint-tablet-max) and (max-width: 1440px) {
                width: 70%;
              }
            }
            .categories__button {
              width: 147px;
              height: 51px;
              background: #FFFFFF;
              border-radius: 8px;
              padding: .75rem 1.5rem;
              font-weight: 500;
              font-size: 1rem;
              display: flex;
              align-items: center;
              gap: .6rem;

              &:hover {
                opacity: .8;
              }
              &:active {
                background: $color-neutral-default;
                color: white;
                opacity: 1;

                svg path {
                  fill: white;
                }
              }
            }
          }
          @media screen and (max-width: $breakpoint-mobile-max) {
            &:nth-child(2) {
              position: absolute;
              top: 80%;
              right: 0;
            }
          }
          
        }
        .categories-card:nth-child(1),
        .categories-card:nth-child(3) {
          position: relative;
          top: -95px;
        }
        @media screen and (max-width: $breakpoint-mobile-max) {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          gap: 1.5rem;
        }
        @media screen and (min-width: $breakpoint-tablet-max) and (max-width: 1440px) {
          gap: 1.5rem;
        }
      }

      @media screen and (min-width: $breakpoint-tablet-max) and (max-width: 1440px) {
        height: 100%;
        padding: 4rem 3rem;
      }
    }
  }
}

.rates-container {
  padding: 6rem 0 4rem;

  @media screen and (max-width: $breakpoint-mobile-max) {
    padding: 1rem 0;
  }

  .rates__title {
    width: 40%;
    margin-bottom: 3rem;
    font-weight: 700;
    font-size: 2rem;

    @media screen and (max-width: $breakpoint-mobile-max) {
      margin-bottom: 2rem;      
      font-size: 1rem;
      text-align: center;
    }
    @media screen and (max-width: 1440px) {
      width: 100%;
    }
  }

  .swiper {
    overflow: hidden;
    
    .swiper-wrapper {
      .rates-card {
        width: 800px!important;
        height: 330px;
        background: $color-primary-default;
        border-radius: 12px;
        padding: 3rem;
    
        .rates-card__text {
          font-weight: 500;
          font-size: 1rem;
          line-height: 27px;
          color: $color-neutral-dark;
          margin-bottom: 3.4rem;

          @media screen and (max-width: $breakpoint-mobile-max) {
            font-size: .75rem;
            line-height: normal;
            margin-bottom: 1.5rem;
          }
          @media screen and (min-width: $breakpoint-mobile-max) and (max-width: $breakpoint-tablet-max) {
            font-size: .8rem;
            margin-bottom: 3rem;
          }
        }
        .rates-card-person-info {
          display: flex;
          position: relative;
    
          .quotes-icon {
            height: max-content;
            width: 45px;
            position: absolute;
            top: -16px;
            z-index: -1;
          }
    
          .person-image {
            border-radius: 50%;
            left: -40px;
            width: 128px;
            height: 128px;

            @media screen and (max-width: $breakpoint-mobile-max) {
              width: 65px;
              height: 65px;
              margin-right: .5rem;
            }
          }
    
          .person-name {
            font-weight: 700;
            font-size: 1rem;
            line-height: normal;
            display: flex;
            flex-direction: column;
    
            .person-job {
              font-weight: 500;
              font-size: .75rem;
              color: $color-neutral-medium;
            }
          }
    
          .rates-value {
            font-weight: 700;
            font-size: 1rem;
            height: max-content;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: .75rem;
            flex: 1;        
          }
        }
        @media screen and (max-width: $breakpoint-mobile-max) {
          width: 100% !important;
          height: 100%;
          padding: 1.5rem;
        }

        @media screen and (min-width: $breakpoint-mobile-max) and (max-width: $breakpoint-tablet-max) {
          padding: 2.5rem;
          width: 610px !important;
        }
      }
    }
  }

}