@import '@/styles/variables';

.newsletter {
  margin-bottom: 4.5rem;

  .newsletter-wrapper {
    padding: 0 6rem;

    .newsletter-content {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      margin-bottom: 1rem;

      .newsletter-content__title {
        width: 407px;
        padding: 1rem 0;

        .newsletter__title {
          font-weight: 600;
          font-size: 2.5rem;
          line-height: 60px;
          color: $color-primary-dark;

          @media screen and (max-width: $breakpoint-mobile-max) {
            font-size: 1.6rem;
            line-height: normal;
            text-align: center;
          }
        }

        .newsletter__text {
          width: 90%;
          display: flex;
          font-weight: 400;
          font-size: 1rem;
          color: $color-neutral-medium;

          @media screen and (max-width: $breakpoint-mobile-max) {
            width: 100%;
            margin-top: .25rem;
            font-size: .75rem;
            text-align: center;
            justify-content: center;
          }
          @media screen and (min-width: $breakpoint-mobile-max) and (max-width: $breakpoint-tablet-max) {
            justify-content: center;
          }
        }

        @media screen and (max-width: $breakpoint-mobile-max) {
          width: 100%;
          padding: 0;
        }
      }

      .newsletter-content__input {
        width: 817px;

        form {
          display: flex;
          gap: 1.5rem;
          flex: 1;

          .newsletter-input-container {
            display: flex;
            flex-direction: column;
            flex: 1;
            position: relative;
            
            .newsletter-input {
              position: relative;
              
              .newsletter__input {
                width: 100%;
                height: 60px;
                padding: 1rem 2.5rem 1rem calc(4.5rem + 40px);
                background: #f7f7f7;
                border: none;
                border-radius: 12px;
                box-shadow: 2px 2px 4px #DADADA;
                color: $color-neutral-dark;
    
                &::-webkit-input-placeholder {
                  font-weight: 400;
                  font-size: 1rem;
                  color: $color-neutral-medium;

                  @media screen and (max-width: $breakpoint-mobile-max) {
                    font-size: .8rem;
                  }
                }
    
                &:focus-visible {
                  border: 1px solid $color-primary-dark;
                  outline: none;
    
                  ~.email-icon {
                    svg {
                      path {
                        &:first-child {
                          fill: $color-primary-dark;
                        }
                        &:last-child {
                          stroke: $color-primary-dark;
                        }
                      }
                    }
                  }
                }
                &:valid {
                  border: 1px solid $color-primary-dark !important;
                  ~ .email-icon {
                    svg {
                      path {
                        &:first-child {
                          fill: $color-primary-dark;
                        }
                        &:last-child {
                          stroke: $color-primary-dark;
                        }
                      }
                    }
                  }
                }
                &.error--active {
                  border: 1px solid $color-feedback-red; 

                  ~.email-icon {
                    svg {
                      path {
                        &:first-child {
                          fill: $color-feedback-red;
                        }
                        &:last-child {
                          stroke: $color-feedback-red;
                        }
                      }
                    }
                  }
                }

                @media screen and (max-width: $breakpoint-mobile-max) {
                  padding-left: calc(2rem + 40px);
                }
              }
              .email-icon {
                position: absolute;
                top: 30px;
                left: 40px;
                transform: translateY(-50%);
                
                svg {
                  path {
                    &:first-child {
                      fill: rgb(180 180 180);
                    }
                    &:last-child {
                      stroke: rgb(180 180 180);
                    }
                  }
                }
                &.error--active {
                  svg {
                    path {
                      &:first-child {
                        fill: $color-feedback-red !important;
                      }
                      &:last-child {
                        stroke: $color-feedback-red !important;
                      }
                    }
                  }
                }

                @media screen and (max-width: $breakpoint-mobile-max) {
                  left: 20px;
                }
              }
            }
            .error-message {
              display: none;
            
              &.error--active {
                display: flex;
                font-weight: 500;
                font-size: 1rem;
                margin-top: .5em;
                color: $color-feedback-red;
              }
            }
          }
  
          .newsletter__button {
            width: 130px; 
            height: 60px;
            padding: 1rem 2.75rem;
            background: $color-primary-dark;
            border: none;
            border-radius: 12px;
  
            font-weight: 500;
            font-size: 1rem;
            color: white;
  
            &:hover {
              opacity: .8;
            }
  
            &:active {
              background: #244545;
              opacity: 1;
            }
  
            @media screen and (max-width: $breakpoint-mobile-max) {
              width: 100%
            }
            @media screen and (min-width: $breakpoint-tablet-max) and (max-width: 1440px) {
              width: 100px;
              padding: .5rem;
            }
          }

          @media screen and (max-width: $breakpoint-mobile-max) {
            flex-direction: column;
            gap: 2rem;
          }
        }


        @media screen and (max-width: $breakpoint-mobile-max) {
          width: 100%;
          flex-direction: column;
        }
      }
      
      .email-submit-message {
        flex: 1;
        text-align: center;
        font-weight: 500;
        font-size: 2rem;
        color: $color-primary-dark;
      }
      
      @media screen and (max-width: $breakpoint-mobile-max) {
        flex-direction: column;
        margin-top: 2rem;
      }

      @media screen and (max-width: $breakpoint-mobile-max) {
        width: 100%;
        margin: 0;
      }

      @media screen and (min-width: $breakpoint-tablet-max) and (max-width: 1440px) {
        width: 100%;
        margin: 0;
      }
    }
    .newsletter-footer {
      .newsletter-footer__text {
        font-weight: 400;
        font-size: 1rem;
        color: $color-neutral-medium;
        text-align: center;

        @media screen and (max-width: $breakpoint-mobile-max) {
          font-size: 0.75rem;
        }
        @media screen and (min-width: 375px) and (max-width: $breakpoint-tablet-max) {
          width: 70%;
          margin: 1rem auto 0;
        }
      }
    }

    @media screen and (max-width: $breakpoint-tablet-max) {
      padding: 0 1rem;
    }
  }
}