@import '@/styles/variables';

.newsletter {
  margin-bottom: 4.5rem;

  .newsletter-wrapper {
    padding: 0 6rem;

    .newsletter-content {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      margin-bottom: 1rem;

      .newsletter-content__title {
        width: 407px;
        padding: 1rem 0;

        .newsletter__title {
          font-weight: 600;
          font-size: 2.5rem;
          line-height: 60px;
          color: $color-primary-dark;

          @media screen and (max-width: $breakpoint-mobile-max) {
            font-size: 1.125rem;
            line-height: normal;
            text-align: center;
          }
        }

        .newsletter__text {
          width: 90%;
          display: flex;
          font-weight: 400;
          font-size: 1rem;
          color: $color-neutral-medium;

          @media screen and (max-width: $breakpoint-mobile-max) {
            width: 100%;
            margin-top: .25rem;
            font-size: .75rem;
            text-align: center;
            justify-content: center;
          }
          @media screen and (min-width: $breakpoint-mobile-max) and (max-width: $breakpoint-tablet-max) {
            justify-content: center;
          }
        }

        @media screen and (max-width: $breakpoint-mobile-max) {
          width: 100%;
          padding: 0;
        }
      }

      .newsletter-content__input {
        width: 817px;
        height: 60px;
        display: flex;
        gap: 1.5rem;
        flex: 1;

        .newsletter-input-container {
          position: relative;
          display: flex;
          flex: 1;

          .newsletter__input {
            width: 100%;
            height: 100%;
            padding: 1rem 2.5rem 1rem calc(4.5rem + 40px);
            background: #f7f7f7;
            border: none;
            border-radius: 12px;
            box-shadow: 2px 2px 4px #DADADA;
            color: $color-neutral-dark;

            &::-webkit-input-placeholder {
              font-weight: 400;
              font-size: 1rem;
              color: $color-neutral-medium;
            }

            &:focus-visible {
              outline: 1px solid $color-primary-dark;
            }
          }
          .email-image {
            position: absolute;
            top: 50%;
            left: 40px;
            transform: translateY(-50%);
          }

        }

        .newsletter__button {
          width: 130px; 
          padding: 1rem 2.75rem;
          background: $color-primary-dark;
          border: none;
          border-radius: 12px;

          font-weight: 500;
          font-size: 1rem;
          color: white;

          &:hover {
            opacity: .8;
          }

          &:active {
            background: #244545;
            opacity: 1;
          }

          @media screen and (max-width: $breakpoint-mobile-max) {
            width: 100%
          }
          @media screen and (min-width: $breakpoint-tablet-max) and (max-width: 1440px) {
            width: 100px;
            padding: .5rem;
          }
        }

        @media screen and (max-width: $breakpoint-mobile-max) {
          width: 100%;
          flex-direction: column;
        }
        @media screen and (max-width: 1440px) {
          height: 50px;
        }
      }
      
      @media screen and (max-width: $breakpoint-mobile-max) {
        flex-direction: column;
        margin-top: 2rem;
      }

      @media screen and (max-width: $breakpoint-mobile-max) {
        width: 80%;
        margin: 0 auto;
      }

      @media screen and (min-width: $breakpoint-tablet-max) and (max-width: 1440px) {
        width: 100%;
        margin: 0;
      }
    }
    .newsletter-footer {
      .newsletter-footer__text {
        font-weight: 400;
        font-size: 1rem;
        color: $color-neutral-medium;
        text-align: center;

        @media screen and (max-width: $breakpoint-mobile-max) {
          font-size: 0.75rem;
        }
        @media screen and (min-width: $breakpoint-mobile-max) and (max-width: $breakpoint-tablet-max) {
          width: 60%;
          margin: 1rem auto 0;
        }
      }
    }

    @media screen and (max-width: $breakpoint-tablet-max) {
      padding: 0 1rem;
    }
  }
}