$color-primary-default: #C1DCDC;
$color-primary-medium: #598888;
$color-primary-dark: #446969;
$color-neutral-default: #1E1E1E;
$color-neutral-dark: rgba(30, 30, 30, 0.75);
$color-neutral-medium: rgba(30, 30, 30, 0.5);
$color-neutral-whitef5: #f5f5f5;

$breakpoint-desktop-max:  1920px;
$breakpoint-tablet-max:  1025.98px;
$breakpoint-mobile-max:  768px;
