@import '@/styles/variables';

.contact {
  padding-top: 7.5rem;
  background-color: #fafafa;
  .contact-wrapper {
    padding: 0 6rem;

    .contact__title {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      font-weight: 700;
      font-size: 2rem;
      line-height: 48px;
      color: $color-neutral-default;

      .contact__text {
        width: 790px;
        font-weight: 400;
        font-size: 1rem;
        line-height: 27px;
        text-align: center;
        color: $color-neutral-default;
      }
    }

    .contact-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 7.5rem 0;

      .contact-form {
        width: 470px;

        .form__title {
          font-weight: 500;
          font-size: 1rem;
          line-height: 27px;
          color: $color-neutral-dark;
          text-align: center;
          margin-bottom: 2rem;
        }
        .form {
          .form__fields {
            display: flex;
            flex-direction: column;
            gap: 2.5rem;
            .contact__input {
              background: #eeeeee;
              border: none;
              border-radius: 12px;
              padding: 1rem;
  
              &.textarea {
                resize: none;
              }
  
              &:focus {
                border: 1px solid $color-primary-dark;
                outline: none;
              }
            }
          }
        }

        .contact__button {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $color-primary-medium;
          border-radius: 12px;
          padding: 1rem;
          margin: 1.5rem 0 0;
          font-weight: 500;
          font-size: 1rem;
          color: $color-neutral-whitef5;

          &:hover {
            opacity: .8;
          }
          &:active {
            transform: scale(.98);
            opacity: 1;
          }
        }
      }

      .contact-infos {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 2rem;

        .contact-info__text {
          width: max-content;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 2rem;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          text-align: center;
          color: $color-neutral-dark;
        }
      }
    }
    .iframe {
      border-radius: 12px;
      margin-bottom: 4.5rem;
    }
  }
}