@import 'styles/variables';

.header {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 99999;
  
  .header-wrapper {
    display: flex;
    align-items: center;
    gap: 6rem;
    padding: 2rem 6rem;
  
  
    .logo__link {
      .logo-header {
        object-fit: cover;
      }
    }
  
    .nav {
      flex: 1;
      .nav__list {
        display: flex;
        gap: 3rem;
  
        .nav__link {
          font-size: 1.2rem;
          color: $color-neutral-medium;
          position: relative;
  
          &.active {
            color: $color-neutral-default;
          }
          &:not(.active):before {
            content: '';
            display: flex;
            width: 2px;
            height: 1px;
            position: absolute;
            bottom: -3px;
            background: $color-neutral-default;
            transition: .4s ease-in;
            opacity: 0;
          }
          &:hover {
            color: $color-neutral-default;
            transition: .4s ease-in;
            &:before {
              width: 100%;
              opacity: 1;
            }
          }
        }
      }
    }
  
    .header-column-right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 3rem;
  
      .header-icon {
        cursor: pointer;
        
        &:hover {
          transform: scale(1.3);
        }
      }
    }
  }
}
