@import '@/styles/variables';

.footer {
  width: 100%;
  background: $color-primary-default;

  @media screen and (min-width: $breakpoint-mobile-max) and (max-width: 1439.98px)  {
    padding: 3rem 0 !important;
  }
  
  .footer-wrapper {
    padding: 3rem 6rem;
    
    @media screen and (max-width: $breakpoint-tablet-max) {
      padding: 3rem 1rem;
    }

    @media screen and (max-width: $breakpoint-mobile-max) {
      padding: 1.5rem;
    }  

    .footer-top-line {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 5rem;
    
      .footer-column-left {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
  
        .logo-footer {
          width: 110px;
          height: 30px;
        }
        .column-left__text {
          width: 190px;
          font-weight: 500;
          font-size: 1.2rem;
          color: $color-neutral-medium;

          @media screen and (max-width: $breakpoint-mobile-max) {
            font-size: 0.875rem;
          }
        }
  
        .network-container {
          display: flex;
          
          .network__link {
            .network-icon {
              width: 48px;
              height: 48px;
              padding: .9rem;
              border: 1px solid $color-neutral-medium;
              border-radius: 32px;
            }
            &:not(:last-child) {
              margin-right: 1.5rem;
            }
          }
        }
        @media screen and (max-width: $breakpoint-mobile-max) {
          gap: 1rem;
        }
      }
  
      .footer-column-right {
        display: flex;
        gap: 3rem;

        .footer__list {
          .list__title {
            font-size: 1rem;
            font-weight: 700;
            margin-bottom: 1.5rem;

            @media screen and (max-width: $breakpoint-mobile-max) {
              margin-bottom: 1rem;
            }
          }

          .footer__link {
            .footer__item {
              width: max-content;
              font-size: 1rem;
              color: $color-neutral-medium;

              &:hover {
                color: $color-neutral-dark;
              }
             }
            &:not(:last-child) {
              display: flex;
              margin-bottom: 1.5rem;

              @media screen and (max-width: $breakpoint-mobile-max) {
                margin-bottom: 1rem;
              }
            }

          }
        }
        @media screen and (max-width: $breakpoint-mobile-max) {
          flex-direction: column;
          gap: 1.5rem;
        }
      }
      @media screen and (max-width: $breakpoint-mobile-max) {
        flex-direction: column;
        gap: 1.5rem;
      }
    }
    .footer-copyright {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      font-size: 1rem;
      color: $color-neutral-medium;

      @media screen and (max-width: $breakpoint-tablet-max) {
        font-size: 0.7rem;
      }

      @media screen and (max-width: $breakpoint-mobile-max) {
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }

      .copyright__text {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .develop-by__text {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        svg {
          path {
            fill: $color-neutral-medium;
          }

          @media screen and (max-width: $breakpoint-tablet-max) {
            width: 18px;
            height: 18px;
          }
        }

        a {
          color: $color-neutral-medium;
          text-decoration: underline;
          
          &:hover {
            color: $color-neutral-default;
          }
        }

        @media screen and (max-width: 375px) {
          gap: .5rem;
        }
      }
    }
  }
}